In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Ali\Documents\python\stack-overflow-developer-survey-2025\survey_results_public.csv")

In [3]:
df.head()

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

For vs While

for → genellikle “belli sayıda tekrar” veya “bir listenin elemanlarında gezmek” için.

While döngüsü → koşul doğru olduğu sürece çalışır.

In [5]:
# ilk 5 kişinin ülkesini for döngüsü ile yazdır
for country in df["Country"].head(5):
    print(country)

Ukraine
Netherlands
Ukraine
Ukraine
Ukraine

In [6]:
for emp in df["Employment"].head(5):
    print(emp)

Employed
Employed
Independent contractor, freelancer, or self-employed
Employed
Independent contractor, freelancer, or self-employed

In [7]:
for col in df.columns[:20]:
    print("Sütun adı:", col)

Sütun adı: ResponseId
Sütun adı: MainBranch
Sütun adı: Age
Sütun adı: EdLevel
Sütun adı: Employment
Sütun adı: EmploymentAddl
Sütun adı: WorkExp
Sütun adı: LearnCodeChoose
Sütun adı: LearnCode
Sütun adı: LearnCodeAI
Sütun adı: AILearnHow
Sütun adı: YearsCode
Sütun adı: DevType
Sütun adı: OrgSize
Sütun adı: ICorPM
Sütun adı: RemoteWork
Sütun adı: PurchaseInfluence
Sütun adı: TechEndorseIntro
Sütun adı: TechEndorse_1
Sütun adı: TechEndorse_2

In [8]:
i = 0
while i < 5:
    print(df.loc[i, "Country"])
    i += 1

Ukraine
Netherlands
Ukraine
Ukraine
Ukraine

In [9]:
i = 0
while i < 5:
    print(df.loc[i, "Age"])
    i += 1

25-34 years old
25-34 years old
35-44 years old
35-44 years old
35-44 years old

In [10]:
# toplam 500.000’e ulaşana kadar satırları eklemeye devam ediyoruz.
total = 0
count = 0
i = 0

while total < 500000 and i < len(df):
    salary = df.loc[i, "ConvertedCompYearly"]
    if pd.notnull(salary):
        total += salary
        count += 1
    i += 1

print("Kaç kişi dahil edildi:", count)
print("Toplam maaş:", total)

Kaç kişi dahil edildi: 8
Toplam maaş: 513167.0

In [11]:
total_exp = 0
count = 0
i = 0

while total_exp < 50 and i < len(df):
    exp = df.loc[i, "WorkExp"]
    if pd.notnull(exp):
        total_exp += exp
        count += 1
    i += 1

print("Kaç kişi dahil edildi:", count)
print("Toplam iş tecrübesi:", total_exp)

Kaç kişi dahil edildi: 6
Toplam iş tecrübesi: 60.0

Ülke bazında ilk 5 ülkenin katılımcı sayısını saymak

In [13]:
country_counts = {}

for country in df["Country"].head(100):  # ilk 100 kişiye bakalım
    if pd.notnull(country):
        country_counts[country] = country_counts.get(country, 0) + 1

print(country_counts)

{'Ukraine': 12, 'Netherlands': 5, 'India': 4, 'Georgia': 1, 'Australia': 1, 'Greece': 1, 'Germany': 6, 'Bangladesh': 2, 'Brazil': 2, 'United States of America': 19, 'Lithuania': 1, 'United Kingdom of Great Britain and Northern Ireland': 6, 'Ireland': 1, 'Sweden': 2, 'Dominican Republic': 1, 'Austria': 2, 'Belgium': 3, 'Czech Republic': 5, 'Italy': 2, 'Hungary': 2, 'Malaysia': 1, 'Switzerland': 2, 'Egypt': 1, 'Sri Lanka': 2, 'Poland': 2, 'Spain': 2, 'Russian Federation': 3, 'Serbia': 1, 'Japan': 1, 'France': 2, 'Romania': 1, 'Canada': 1, 'Uruguay': 1, 'United Arab Emirates': 1, 'Argentina': 1}

Eğitim seviyesi bazında benzersiz değerleri toplamak

In [15]:
ed_levels = []

for level in df["EdLevel"].dropna().head(20):
    if level not in ed_levels:
        ed_levels.append(level)

print(ed_levels)

['Master’s degree (M.A., M.S., M.Eng., MBA, etc.)', 'Associate degree (A.A., A.S., etc.)', 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)', 'Some college/university study without earning a degree', 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)']

Ortalama iş tecrübesi (WorkExp) hesaplamak

In [17]:
total = 0
count = 0

for exp in df["WorkExp"].head(50):
    if pd.notnull(exp):
        total += exp
        count += 1

print("Ortalama iş tecrübesi:", total/count)

Ortalama iş tecrübesi: 15.448979591836734

İlk “freelancer” bulunana kadar tarama

In [19]:
i = 0
while i < len(df):
    if df.loc[i, "Employment"] and "freelancer" in str(df.loc[i, "Employment"]).lower():
        print("İlk freelancer bulundu:", df.loc[i, ["Country","Employment"]].to_dict())
        break
    i += 1

İlk freelancer bulundu: {'Country': 'Ukraine', 'Employment': 'Independent contractor, freelancer, or self-employed'}

10 kişi bulunana kadar 25–34 yaş aralığındaki katılımcıları listeleme

In [21]:
i = 0
count = 0

while count < 10 and i < len(df):
    if df.loc[i, "Age"] == "25-34 years old":
        print(df.loc[i, ["Country","Age"]].to_dict())
        count += 1
    i += 1

{'Country': 'Ukraine', 'Age': '25-34 years old'}
{'Country': 'Netherlands', 'Age': '25-34 years old'}
{'Country': 'Ukraine', 'Age': '25-34 years old'}
{'Country': 'Ukraine', 'Age': '25-34 years old'}
{'Country': 'Ukraine', 'Age': '25-34 years old'}
{'Country': 'Ukraine', 'Age': '25-34 years old'}
{'Country': 'India', 'Age': '25-34 years old'}
{'Country': 'Greece', 'Age': '25-34 years old'}
{'Country': 'Bangladesh', 'Age': '25-34 years old'}
{'Country': 'United States of America', 'Age': '25-34 years old'}

Yaş gruplarını sınıflandırmak

In [23]:
age_groups = {"25-34":0, "35-44":0, "45-54":0}
i = 0

while i < 200:   # ilk 200 kişiyi incele
    age = df.loc[i,"Age"]
    if age in age_groups:
        age_groups[age] += 1
    i += 1

print(age_groups)

{'25-34': 0, '35-44': 0, '45-54': 0}

In [24]:
# Ortalama iş tecrübesi (WorkExp)
total = 0
count = 0

for exp in df["WorkExp"].dropna().head(100):
    total += exp
    count += 1

print("Ortalama iş tecrübesi:", total/count)

Ortalama iş tecrübesi: 15.62

In [25]:
# NumPy ile:
print("Ortalama iş tecrübesi:", np.mean(df["WorkExp"].dropna().head(100)))

Ortalama iş tecrübesi: 15.62

In [45]:
# Yaş grubu sayımı
age_groups = {"25-34":0, "35-44":0, "45-54":0}
i = 0

while i < 200:
    age = df.loc[i,"Age"]
    if age in age_groups:
        age_groups[age] += 1
    i += 1

print(age_groups)

{'25-34': 0, '35-44': 0, '45-54': 0}

In [47]:
# NumPy ile:
values, counts = np.unique(df["Age"].head(200).dropna(), return_counts=True)
age_counts = dict(zip(values, counts))
print(age_counts)

{'18-24 years old': 26, '25-34 years old': 57, '35-44 years old': 58, '45-54 years old': 40, '55-64 years old': 10, '65 years or older': 9}