In [1]:
import pandas as pd

In [2]:
facebook_ads_basic_daily = pd.read_csv(r"C:\Users\Ali\Documents\python\facebook_ads_basic_daily_202508202244.csv")

In [3]:
facebook_ads_basic_daily.head()

,ad_date,campaign_id,adset_id,spend,impressions,reach,clicks,leads,value,url_parameters,total
0,2021-11-30,+1TVQ0Ksk5C1R7k9dKSrpg==,kjdNzjgMLmHu9QXPlKaQHQ==,2686.0,5252.0,4624.0,13.0,NaN,4058.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN
1,2022-04-12,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,25154.0,4578.0,16804.0,298.0,NaN,31921.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN
2,2021-06-17,+1TVQ0Ksk5C1R7k9dKSrpg==,QBLf/5REFjL80pmdlrLGCw==,4242.0,6045.0,2323.0,97.0,0.0,5597.0,NaN,NaN
3,2022-01-31,h4hWTQf6icvBNjHfA+zKhw==,MVc+HmWqkmrlUI6Iyjdw4w==,1693.0,19554.0,3318.0,80.0,2.0,3383.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN
4,2022-04-05,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,45152.0,19189.0,12587.0,244.0,7.0,53175.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN

In [4]:
facebook_ads_basic_daily.shape

(2467, 11)

In [5]:
google_ads_basic_daily = pd.read_csv(r"C:\Users\Ali\Documents\python\google_ads_basic_daily_202508202244.csv")

In [6]:
google_ads_basic_daily.head()

,ad_date,campaign_name,adset_name,spend,impressions,reach,clicks,leads,value,url_parameters
0,2021-11-05,Wholesale,Wide,1315,4314,2769,50,2,1228,utm_source=google&utm_medium=cpc&utm_campaign=...
1,2022-05-11,Hobbies,Outdoors,1175,37296,17783,73,5,918,utm_source=google&utm_medium=cpc&utm_campaign=...
2,2021-11-07,Wholesale,Wide,1492,901,1030,34,1,1026,utm_source=google&utm_medium=cpc&utm_campaign=...
3,2021-01-31,Discounts,True power,1269,4975,3145,56,1,1379,utm_source=google&utm_medium=cpc&utm_campaign=...
4,2021-07-17,New items,Presents,333,234,387,8,0,391,utm_source=google&utm_medium=cpc&utm_campaign=...

In [7]:
google_ads_basic_daily.shape

(1425, 10)

In [8]:
facebook_adset = pd.read_csv(r"C:\Users\Ali\Documents\python\facebook_adset_202508202244.csv")

In [9]:
facebook_adset.head()

                   adset_id adset_name
0  ZW79Y4iAC9tYUZ0rv2yQdA==     Travel
1  Zq23ozPRs6SFhGqG7C28Sw==  Streaming
2  xorZEO1JrGXyHxvyxdv5Eg==  Lifestyle
3  UIqcMN1yaehmJD9QlXFmqg==   Top gear
4  tx5Zo5YqSvAumn3DuI7T6g==     Cringe

In [10]:
facebook_adset.shape

(37, 2)

In [11]:
facebook_campaign = pd.read_csv(r"C:\Users\Ali\Documents\python\facebook_campaign_202508202245.csv")

In [12]:
facebook_campaign.head()

                campaign_id campaign_name
0  OL3wfqCd6TPOleVAcp2yew==     Discounts
1  wZXc8Eos3JfIQ0EbtDy/Hw==         Brand
2  Kek1yMtTa5BOTQQs2/uEPg==   Electronics
3  0NN3/Q28t0sw9rVduSJU5A==        Promos
4  yaS9WL9gilMlc/ztuJKtdw==     New items

In [13]:
facebook_campaign.shape

(11, 2)

In [14]:
# Merge Facebook tables with campaign and adset info
facebook_ads_merged = (
    facebook_ads_basic_daily
    .merge(facebook_adset, on="adset_id", how="left")
    .merge(facebook_campaign, on="campaign_id", how="left")
)

In [15]:
facebook_ads_merged.head()

,ad_date,campaign_id,adset_id,spend,impressions,reach,clicks,leads,value,url_parameters,total,adset_name,campaign_name
0,2021-11-30,+1TVQ0Ksk5C1R7k9dKSrpg==,kjdNzjgMLmHu9QXPlKaQHQ==,2686.0,5252.0,4624.0,13.0,NaN,4058.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Clean,Wholesale
1,2022-04-12,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,25154.0,4578.0,16804.0,298.0,NaN,31921.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Pretty,Expansion
2,2021-06-17,+1TVQ0Ksk5C1R7k9dKSrpg==,QBLf/5REFjL80pmdlrLGCw==,4242.0,6045.0,2323.0,97.0,0.0,5597.0,NaN,NaN,Starting up,Wholesale
3,2022-01-31,h4hWTQf6icvBNjHfA+zKhw==,MVc+HmWqkmrlUI6Iyjdw4w==,1693.0,19554.0,3318.0,80.0,2.0,3383.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Trending new,Trendy
4,2022-04-05,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,45152.0,19189.0,12587.0,244.0,7.0,53175.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Pretty,Expansion

In [16]:
facebook_ads_merged.shape

(2467, 13)

In [17]:
# Combine Facebook and Google ads
all_ads = pd.concat([
    facebook_ads_merged.assign(media_source="Facebook"),
    google_ads_basic_daily.assign(media_source="Google")
], ignore_index=True)

In [18]:
all_ads.head()

,ad_date,campaign_id,adset_id,spend,impressions,reach,clicks,leads,value,url_parameters,total,adset_name,campaign_name,media_source
0,2021-11-30,+1TVQ0Ksk5C1R7k9dKSrpg==,kjdNzjgMLmHu9QXPlKaQHQ==,2686.0,5252.0,4624.0,13.0,NaN,4058.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Clean,Wholesale,Facebook
1,2022-04-12,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,25154.0,4578.0,16804.0,298.0,NaN,31921.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Pretty,Expansion,Facebook
2,2021-06-17,+1TVQ0Ksk5C1R7k9dKSrpg==,QBLf/5REFjL80pmdlrLGCw==,4242.0,6045.0,2323.0,97.0,0.0,5597.0,NaN,NaN,Starting up,Wholesale,Facebook
3,2022-01-31,h4hWTQf6icvBNjHfA+zKhw==,MVc+HmWqkmrlUI6Iyjdw4w==,1693.0,19554.0,3318.0,80.0,2.0,3383.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Trending new,Trendy,Facebook
4,2022-04-05,pf4uuqaAAFuHa7gEJnQVKg==,+/ujgC+9ZiLznb2LxP6ihw==,45152.0,19189.0,12587.0,244.0,7.0,53175.0,utm_source=facebook&utm_medium=ppc&utm_campaig...,NaN,Pretty,Expansion,Facebook

In [19]:
all_ads.shape

(3892, 14)

In [20]:
# Calculate ROMI per campaign and adset
campaign_summary = (
    all_ads.groupby(["campaign_name", "media_source"], as_index=False)
    .agg({"spend": "sum", "value": "sum"})
)
campaign_summary["ROMI"] = ((campaign_summary["value"] - campaign_summary["spend"]) / campaign_summary["spend"]) * 100

In [21]:
campaign_summary

      campaign_name media_source      spend      value       ROMI
0             Brand     Facebook    53992.0    67015.0  24.120240
1             Brand       Google     6664.0     7277.0   9.198679
2   Crazy discounts     Facebook   217529.0   258359.0  18.769911
3   Crazy discounts       Google   173417.0   203889.0  17.571518
4         Discounts     Facebook   285639.0   351627.0  23.101887
5         Discounts       Google   153040.0   188672.0  23.282802
6       Electronics     Facebook  2392042.0  2916938.0  21.943427
7       Electronics       Google  1629511.0  1817548.0  11.539474
8         Expansion     Facebook  6721282.0  8328866.0  23.917818
9         Expansion       Google  4640350.0  5194407.0  11.939983
10          Hobbies     Facebook  1132697.0  1397463.0  23.374830
11          Hobbies       Google   774665.0   879333.0  13.511389
12        Lookalike     Facebook  6363109.0  8023470.0  26.093550
13        New items     Facebook   293697.0   374205.0  27.411925
14        New items       Google   220762.0   255970.0  15.948397
15           Promos     Facebook   499384.0   879377.0  76.092346
16           Promos       Google   503226.0   564453.0  12.166899
17           Trendy     Facebook   199231.0   379890.0  90.678158
18        Wholesale     Facebook  1418171.0  1742133.0  22.843649
19        Wholesale       Google   943659.0  1087502.0  15.243112

In [22]:
# Filter campaigns with total spend > 500000
campaign_summary_filtered = campaign_summary[campaign_summary["spend"] > 500000]

In [23]:
campaign_summary_filtered

   campaign_name media_source      spend      value       ROMI
6    Electronics     Facebook  2392042.0  2916938.0  21.943427
7    Electronics       Google  1629511.0  1817548.0  11.539474
8      Expansion     Facebook  6721282.0  8328866.0  23.917818
9      Expansion       Google  4640350.0  5194407.0  11.939983
10       Hobbies     Facebook  1132697.0  1397463.0  23.374830
11       Hobbies       Google   774665.0   879333.0  13.511389
12     Lookalike     Facebook  6363109.0  8023470.0  26.093550
16        Promos       Google   503226.0   564453.0  12.166899
18     Wholesale     Facebook  1418171.0  1742133.0  22.843649
19     Wholesale       Google   943659.0  1087502.0  15.243112

In [24]:
# Find highest ROMI campaign
top_campaign = campaign_summary_filtered.loc[campaign_summary_filtered["ROMI"].idxmax()]

In [25]:
top_campaign

campaign_name    Lookalike
media_source      Facebook
spend            6363109.0
value            8023470.0
ROMI              26.09355
Name: 12, dtype: object

In [26]:
# Find top adset within that campaign (for Facebook only)
top_adset = (
    facebook_ads_merged[facebook_ads_merged["campaign_name"] == top_campaign["campaign_name"]]
    .groupby("adset_name", as_index=False)
    .agg({"spend": "sum", "value": "sum"})
)
top_adset["ROMI"] = ((top_adset["value"] - top_adset["spend"]) / top_adset["spend"]) * 100
top_adset_result = top_adset.loc[top_adset["ROMI"].idxmax()]

top_campaign, top_adset_result

(campaign_name    Lookalike
 media_source      Facebook
 spend            6363109.0
 value            8023470.0
 ROMI              26.09355
 Name: 12, dtype: object,
 adset_name        Broad
 spend         3763564.0
 value         4848139.0
 ROMI          28.817764
 Name: 0, dtype: object)